@{
    ViewData["Title"] = "Home Page";
}
<!--Main login page-->
<form asp-action="index" method="post">
    <div class="container text-center d-flex justify-content-center" style="margin-top:6%">
        <!--row 1 | boarder-->
        <div class="row MainBoarder">

            <!--row 2 | icon-->
            <div class="row d-flex justify-content-center" style="padding-top:10%">

                <div class="col-12 col-sm-12 col-md-12 col-xl-12 col-xxl-12 MainLoginIconStyle">
                    <!-- SHIELD ICON -->
                    <svg xmlns="http://www.w3.org/2000/svg"
                         width="40" height="40"
                         fill="none"
                         viewBox="0 0 24 24"
                         stroke="white"
                         stroke-width="2">
    
                        <!-- Shield shape -->
                        <path d="M12 2l7 4v6c0 5-3.5 9-7 10-3.5-1-7-5-7-10V6l7-4z" />
    
                        <!-- Inner check line -->
                        <path d="M9 12l2 2 4-4" />
                    </svg>

                </div>
            </div>

            <!--row 2 | Topic-->
            <div class="row" style="padding-top:3%">

                <div class="col-12 col-sm-12 col-md-12 col-xl-12 col-xxl-12">
                    <label style="font-weight:bold;font-size:140%">GATE PASS MANAGEMENT SYSTEM</label>
                </div>

            </div>

            <!--row 3 | sub label-->
            <div class="row" style="padding-top:1%">

                <div class="col-12 col-sm-12 col-md-12 col-xl-12 col-xxl-12">
                    <div>
                        <label style="color:gray; font-size:100%">Internal Security Portal</label>
                    </div>
                </div>
            </div>

            <!--row 4 | username-->
            <div class="row text-start" style="padding-top:1%;width:95%">

                <!--lblusername-->
                <div class="col-md-1"> </div>

                <div class="col-11 col-sm-12 col-md-12 col-xl-11 col-xxl-11 lblResponsiveness">
                    <div>
                        <label style="font-size:90%" class="lblstyles">USERNAME (EPF)</label>
                    </div>
                </div>

               
          
            </div>

            <!--row 4 | username-->
            <div class="row tbxWidth" style="padding-top:1%;">
                <!--tbxusername-->
                <div class="col-md-1"></div>
                <div class="col-12 col-sm-12 col-md-12 col-xl-11 col-xxl-11">
                    <div class="position-relative">
                        <input type="text" class="form-control ps-5" style="font-size:100%;opacity:60%" placeholder="Enter EPF Number">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="gray"
                             class="position-absolute top-50 start-0 translate-middle-y ms-2"
                             viewBox="0 0 24 24">
                            <path d="M12 12c2.7 0 5-2.3 5-5s-2.3-5-5-5-5 2.3-5 5 2.3 5 5 5zm0 2c-3.3 0-10 1.7-10 5v2h20v-2c0-3.3-6.7-5-10-5z" />
                        </svg>
                    </div>
                </div>
                
            </div>



            <!--row 4 | password-->
            <div class="row text-start" style="padding-top:3%;width:95%">

                <!--lblpassword-->
                <div class="col-md-1"></div>
                <div class="col-11 col-sm-12 col-md-12 col-xl-11 col-xxl-11 lblResponsiveness">
                    <div>
                        <label style="font-size:90%" class="lblstyles">PASSWORD</label>
                    </div>
                </div>
               
          
            </div>

            <!--row 4 | password-->
            <div class="row tbxWidth" style="padding-top:1%;">
                <!--tbxpassword-->
                <div class="col-md-1"></div>
                <div class="col-12 col-sm-12 col-md-12 col-xl-11 col-xxl-11">
                    <div class="position-relative">
                        <input type="password" class="form-control ps-5" style="font-size:100%;opacity:60%" placeholder="Enter Password">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="gray"
                             class="position-absolute top-50 start-0 translate-middle-y ms-2"
                             viewBox="0 0 24 24">
                            <!-- Lock icon path -->
                            <path d="M17 8h-1V6a4 4 0 0 0-8 0v2H7a2 2 0 0 0-2 2v10a2
                            2 0 0 0 2 2h10a2 2 0 0 0 2-2V10a2 2 0 0 0-2-2zm-5
                            7a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm-4-7V6a2 2 0 1 1 4
                            0v2h-4z" />
                        </svg>
                    </div>

                </div>
                
            </div>



            <!--row 5 | forgot password-->
            <div class="row" style="padding-top:1%;width:95%">
                <!--link label-->
                <div class="col-12 col-sm-12 col-md-12 col-xl-12 col-xxl-12 text-end">
                    <a href="#" style="text-decoration:none;font-weight:bold;font-size:85%">FORGOT PASSWORD?</a>
                </div>
            </div>

            <!--row 6 | btnSignin-->
            <div class="row" style="padding-top:4%;">
                
                <div class="col-12 col-sm-12 col-md-12 col-xl-12 col-xxl-12">
                    @* <button type="submit" class="btn btn-primary" style="font-weight:bold;width:90%">SIGN IN</button> *@
                    <button type="submit" class="btn btn-primary"
                            style="font-weight:bold;width:90%; height:100%; font-size:110%; letter-spacing:2px; border-radius:15px;">

                        <i class="bi bi-box-arrow-in-right" style="margin-right:10px;"></i>
                        SIGN IN

                    </button>

                </div>
            </div>

            <!--row 7 | Don't have an account? Contact Admin-->
            <div class="row" style="padding-top:5%;padding-bottom:5%">
                
                

                <div class="col-sm-12 col-md-6 col-xl-6 col-xxl-6 lastLabel01">
                    <label style="color:gray;opacity:70%;font-size:90%">Don't have an account?</label>
                </div>
                <div class="col-sm-12 col-md-6 col-xl-6 col-xxl-6 lastLabel02">
                    <a href="#" style="text-decoration:none;font-size:90%;font-weight:bold">Contact Admin</a>
                </div>

               
            </div>

        </div>
    </div>
</form>
