@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!--Request for gate pass-->
<form>

    <div class="container text-center d-flex justify-content-center" style="margin-top:6%">

        <!--row 1 | boarder-->
        <div class="row MainBoarder">

            <!--row 2 | icon-->
            <div class="row d-flex justify-content-center" style="padding-top:6%">

                <div class="col-12 col-sm-12 col-md-12 col-xl-12 col-xxl-12 MainLoginIconStyle">

                   
                    <!-- GATE PASS ICON -->
                    <svg xmlns="http://www.w3.org/2000/svg"
                         width="60px"
                         height="50px"
                         viewBox="0 0 24 24"
                         fill="none"
                         stroke="white"
                         stroke-width="1"
                         stroke-linecap="round"
                         stroke-linejoin="round">

                        <!-- Ticket Shape -->
                        <path d="M7 8H17V10
                        C18.2 10 19 10.8 19 12
                        C19 13.2 18.2 14 17 14
                        V16H7V14
                        C5.8 14 5 13.2 5 12
                        C5 10.8 5.8 10 7 10V8Z" />

                        <!-- Center Dashed Line -->
                        <path d="M12 9V15" stroke-dasharray="1.5 1.5" />

                    </svg>

                   @*  <!-- GATE PASS ICON -->
                    <svg xmlns="http://www.w3.org/2000/svg"
                         width="60px"
                         height="50px"
                         fill="none"
                         viewBox="0 0 24 24"
                         stroke="white"
                         stroke-width="1.2">

                        <!-- Ticket Shape -->
                        <path d="M7 8H17V10
                        C18.2 10 19 10.8 19 12
                        C19 13.2 18.2 14 17 14
                        V16H7V14
                        C5.8 14 5 13.2 5 12
                        C5 10.8 5.8 10 7 10V8Z" />

                       <!-- Center Dashed Line -->
                        <path d="M12 9V15" stroke-dasharray="1.5 1.5" />

                    </svg> *@

                </div>
            </div>


            <!--row 2 | Topic-->
            <div class="row" style="padding-top:3%">

                <div class="col-12 col-sm-12 col-md-12 col-xl-12 col-xxl-12">
                    <label style="font-weight:bold;font-size:140%">Request For Gate Pass</label>
                </div>

            </div>

            <!-- row 3 | EPF Number-->
            
            <div class="row text-start" style="padding-top:3%;width:95%">

                <!--lblEpfNumber-->
                <div class="col-md-1"> </div>

                <div class="col-11 col-sm-12 col-md-12 col-xl-11 col-xxl-11 lblResponsiveness">
                    <div>
                        <label style="font-size:90%;font-weight:normal" class="lblstyles" >EPF Number</label>
                    </div>
                </div>

                <div class="col-md-1"> </div>
          
            </div>

            <!--row 3 | EPF Number-->
            <div class="row tbxWidth" style="padding-top:1%;">
                <!--tbxEPFNumber-->
                <div class="col-md-1"></div>
                <div class="col-12 col-sm-12 col-md-12 col-xl-11 col-xxl-11">
                    <div class="position-relative">
                        <input type="text" class="form-control ps-5" style="font-size:100%;opacity:60%" placeholder="Enter EPF Number">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="gray"
                             class="position-absolute top-50 start-0 translate-middle-y ms-2"
                             viewBox="0 0 24 24">
                            <path d="M12 12c2.7 0 5-2.3 5-5s-2.3-5-5-5-5 2.3-5 5 2.3 5 5 5zm0 2c-3.3 0-10 1.7-10 5v2h20v-2c0-3.3-6.7-5-10-5z" />
                        </svg>
                    </div>
                </div>
                
            </div>


            <!-- row 4 | Reason-->
            
            <div class="row text-start" style="padding-top:3%;width:95%">

                <!--lblReason-->
                <div class="col-md-1 col-xl-1 col-xxl-1"> </div>

                <div class="col-12 col-sm-12 col-md-11 col-xl-11 col-xxl-11 lblResponsiveness">
                    <div>
                        <label style="font-size:90%;font-weight:normal" class="lblstyles">Reason</label>
                    </div>
                </div>

                
          
            </div>

            <!--row 4 | Reason-->
            <div class="row tbxWidth" style="padding-top:1%;">
                <!--tbxVehicleNumber-->
                <div class="col-md-1"></div>
                <div class="col-12 col-sm-12 col-md-12 col-xl-11 col-xxl-11">
                    <div class="position-relative">
                        <select class="form-select">
                            <option selected>Select Reason</option>
                            <option>Reason 1</option>
                            <option>Reason 1</option>
                            <option>Reason 1</option>
                        </select>
                       
                    </div>

                </div>
                
            </div>

            <!--row 5 | check box (I am using a vehicle)-->
            <div class="row" style="padding-top:3%">

                <div class="col-1 col-sm-1 col-md-1 col-xl-1 col-xxl-1"></div>

                <div class="col-1 col-sm-1 col-md-1 col-xl-1 col-xxl-1">

                    <input type="checkbox" class="form-check-input" />


                </div>
                <div class="col-10 col-sm-10 col-md-10 col-xl-10 col-xxl-10 text-start">

                    <label style="font-family:sans-serif;font-size:100%">I am using a vehicle</label>

                </div>

                
            </div>

            
            <!--row 6 | Vehicle Number-->
            <div class="row text-start" style="padding-top:3%;width:95%">

                <!--lblVehicleNumber-->
                <div class="col-md-1"></div>
                <div class="col-11 col-sm-12 col-md-12 col-xl-11 col-xxl-11 lblResponsiveness">
                    <div>
                        <label style="font-size:90%;color:blue">VEHICLE NUMBER</label>
                    </div>
                </div>

               
            </div>


            <div class="row tbxWidth" style="padding-top:1%;">
                <!--tbxVehicleNumber-->
                <div class="col-md-1"></div>
                <div class="col-12 col-sm-12 col-md-12 col-xl-11 col-xxl-11">
                    <div class="position-relative">
                        <input type="text" class="form-control" style="font-size:100%;opacity:60%" placeholder="e.g. ABC - 1234">
                       
                    </div>

                </div>
                
            </div>


            <!-- row 7 | out time-->
            
            <div class="row text-start" style="padding-top:3%;width:95%">

                <!--lblOutTime-->
                <div class="col-md-1"> </div>

                <div class="col-11 col-sm-12 col-md-12 col-xl-11 col-xxl-11 lblResponsiveness">
                    <div>
                        <label style="font-size:90%;font-weight:normal" class="lblstyles">Out Time</label>
                    </div>
                </div>

                <div class="col-md-1"> </div>
          
            </div>

            
            <div class="row tbxWidth" style="padding-top:1%;">
                <!--tbxOutTime-->
                <div class="col-md-1"></div>
                <div class="col-12 col-sm-12 col-md-12 col-xl-11 col-xxl-11">
                    <div class="position-relative">
                        <input type="time" class="form-control" style="font-size:100%;opacity:60%">
                       
                    </div>
                </div>
                
            </div>


            <!-- row 8 | In time-->
            
            <div class="row text-start" style="padding-top:3%;width:95%">

                <!--lblInTime-->
                <div class="col-md-1"> </div>

                <div class="col-11 col-sm-12 col-md-12 col-xl-11 col-xxl-11 lblResponsiveness">
                    <div>
                        <label style="font-size:90%;font-weight:normal" class="lblstyles">In Time</label>
                    </div>
                </div>

                <div class="col-md-1"> </div>
          
            </div>

            
            <div class="row tbxWidth" style="padding-top:1%;">
                <!--tbxIntTime-->
                <div class="col-md-1"></div>
                <div class="col-12 col-sm-12 col-md-12 col-xl-11 col-xxl-11">
                    <div class="position-relative">
                        <input type="time" class="form-control" style="font-size:100%;opacity:60%">
                       
                    </div>
                </div>
                
            </div>


            <!--row 9 | btnOk-->
            <div class="row" style="padding-top:4%;padding-bottom:4%">
                
                <div class="col-12 col-sm-12 col-md-12 col-xl-12 col-xxl-12">
                  
                    <button type="submit" class="btn btn-primary"
                            style="font-weight:bold;width:90%; height:100%; font-size:110%; letter-spacing:2px; border-radius:15px;">

                       Ok

                    </button>

                </div>
            </div>

        </div>

    </div>


</form>